.selectsDisplay {
  display: flex;
  gap: 1.25rem;
  & .input {
    width: 16.5625rem;
    max-width: 16.5625rem;
    height: 45px;
    max-height: 45px;
    padding: 16px 15px 14px;
    border-radius: 0.5rem !important;
    border: 1px solid rgba(0, 0, 0, 0.3);

    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
      font-size: 0.8125rem;
      font-weight: 400;
    }
    &:focus,
    &:active {
      outline: 1px solid #000;
    }
  }
}
